.firstScreen {
  color: #fff;

  &-steOne {
    display: block;
  }

  &-stepTwo {
    display: none;
  }

  &-secure a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px #fff solid;
    padding: 10px 0 1px 0;
    display: inline-block;
  }

  &-secureText {
    font-size: 15px;
    margin-top: 25px;
    line-height: 20px;
  }

  &-input {
    width: 100%;
    max-width: 600px;
    border: none;
    padding: 15px 20px;
    color: #000;
    outline: none;
  }

  &-back {
    margin-right: 20px;
  }
}
