.firstScreen#start
  .container
    .firstScreen-stepOne
      .title
        | Step 1: Upload your Document
      .firstScreen-dragAndDrop
        input(type='file' class='dropify')

      .button.stepOneButton.button-disabled
        | Next
        
    .firstScreen-stepTwo
      .title
        | Step 2: Enter your Email Address
      
      input(class='firstScreen-input' type='text' placeholder='your@yourcompany.org')
      .firstScreen-secure
        .firstScreen-secureText
          | All documents are encrypted both in transit and at rest, and are deleted immediately upon printing.
        a(href='#')
          | Learn more about security.
      
      .button.firstScreen-back
        | BACK
            
      .button#btn-start-next.button-disabled
        | Next
      
