doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  title Breezy Print
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")

  link(rel="icon" href="images/favicon.png")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');
    
    $(document).ready(function() {
      function move() {
          var elem = document.getElementById('progress-line')
          var width = 0;
          var id = setInterval(frame, 10);
          function frame() {
              if (width === 100) {
                  clearInterval(id);
                  setTimeout(function(){
                    $('.progress').hide();
                    $('#btn-print-another').addClass('btn-print-anotherActive');
                  }, 500)
                  
              } else {
                  width++; 
                  $('#progress-percent').text(width + '%');
                  elem.style.width = width + '%'; 
              }
          }
      }
      
      $('.secondScreen-print').click(function() {
        $('.secondScreen-buttons').hide();
        $('.progress').show();
        move()
      });
    });

body
  include _includes/header.jade
  include _includes/firstScreen.jade
  include _includes/secondScreen.jade
