.secondScreen#release
  .container
    .title
      | Step 3: Printing
    
    .secondScreen-printing
      .secondScreen-printingDocument
        | You are Printing: 
        span#file-info
          | Sometimes-I-make-fake-files.pdf
          
      .secondScreen-info
        .secondScreen-infoOwned
          | Email: 
          span juser@weil.com
          
        .secondScreen-infoModified
          | Modified: 
          span Jan 26, 2016
          
        .secondScreen-infoSize
          | File size: 
          span 2.525 kb

    .secondScreen-printer
      .secondScreen-printerStepOne
        .secondScreen-printerTitle
          | Enter Shortcode to Find A Printer
        .secondScreen-printerInput
          input(type="text" id="txt-shortcode" placeholder='Shortcode')
          .button.secondScreen-validate
            | Validate
            
      .secondScreen-printerStepTwo
        .secondScreen-printerTitle
          img(src='images/printer.svg')
          | 767-CVS
          .secondScreen-printerChange
            | Change printer
          
        form.secondScreen-form
          .secondScreen-formSectionOne
            label
              input(type='radio' name="radio" checked) 
              span.lbl
                | Portait
            label
              input(type='radio' name="radio")
              span.lbl
                | Landscape
          
          .secondScreen-formSectionTwo
            label
              input(type='checkbox' checked)
              span.lbl
                | Print in Color
            label
              input(type='checkbox')
              span.lbl
                | Print on Both Sides
          
          .secondScreen-formSectionThree
            label
              | Pages to Print
              input(type="text" pattern="\d{1,5}" placeholder='1-5')
            label
              | Copies
              input(type="text" pattern="\d{1,5}" placeholder='1-5')
              
      
    .secondScreen-stepThree(style='display: none')
      .secondScreen-progress
        .secondScreen-progressLine
        .secondScreen-progressPercent
        
    .secondScreen-buttons
      .button.secondScreen-back
        | BACK
      .button.secondScreen-cancel
        | Cancel Job
      .button.secondScreen-next
        | NEXT
      .button.secondScreen-print
        | PRINT
    
    .progress
      .progress-line#progress-line
      .progress-percent#progress-percent
    
    .button#btn-print-another
      | Print Another Document
